@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: futura-pt, "Hiragino Sans", Meiryo, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
}

/* TOP */
.main-bg {
  position: relative;
  background-image: url(../img/background/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 100%;
  color: #fff;
  transform: translate(-50%,-50%);
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.modal {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgba(0,0,0,.6);
  transition: top .3s .4s;
  font-size: 1.3rem;
}

.modal.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-navi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  color: white;
  width: 300px;
  height: 200px;
  padding: 0;
  margin: 0;
}

.nav-list:nth-child(1) {
  transition: all .3 .8;
}

.center {
  text-align: center;
  margin: 0 auto;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background-color: rgba(0,0,0,.6);
  transition: top .3s;
}

header.active {
  position: fixed;
  top: -4rem;
  left: 0;
  right: 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo {
  display: block;
  width: 150px;
  cursor: pointer;
}

.logo-icon {
  height: 4rem;
  font-size: 1.7rem;
  color: white;
  text-align: center;
}

.header-menu {
  display: flex;
  align-items: center;
}

.navi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  color: white;
  padding: 0;
  margin: 0;
}

.nav-list {
  padding: 0px 10px;
}

.nav-list > a {
  display: block;
  text-decoration: none;
  color: white;
} 

.nav-list > a:hover {
  color: #FF9C00;
  transition: all .3s;
} 

.nav-list > a.btn-icon:hover {
  color: #000;
  transition: all .3s;
}

.hamberger {
  display: none;
}

.subTitle {
  font-weight: bold;
}

.btn-icon {
  border-radius: 25px;
  background-color: #FF9C00;
  text-align: center;
  padding: 10px 15px;
  border: none;
  color: #fff;
}

.btn-icon:hover {
  color: #000;
  transition: all .3s;
} 

section {
  height: auto;
  padding: 80px 0;
}

section h1 {
  display: block;
}

section h1:after {
  content: '';
  width: 10px;
  height: 15px;
  background-color: red;
}

section:nth-child(odd) {
  color: #fff;
  background-color: #5B6071;
}

section:nth-child(odd) h1 {
  color: #fff;
  text-align: center;
}

section:nth-child(odd) h6 {
  color: #fff;
  text-align: center;
  margin-bottom: 2.5rem;
}

section:nth-child(even) {
  background-color: white;
}

section:nth-child(even) h1 {
  text-align: center;
}

section:nth-child(even) h6 {
  text-align: center;
  margin-bottom: 2rem;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ABOUT ME */

.image {
  width: 100%;
  height: auto;
  transform: scale(.9);
}

.profBox {
  width: 100%;
  text-align: left;
  padding: 5px 15px;
} 

.profBox p {
  margin: 10px 0 10px 0;
}

.profBox > p {
  margin: 5px 0 10px 0;
}

.profLine {
  display :block;
  height: 2px;
  width: 100%;
  background-color:#5B6071;
  border-radius: 1px;
}

/* SERVICE */

.serviceBox {
  width: 100%;
  height: 20rem;
} 

.service-flex {
  display: flex;
  flex-direction: column;
}

.round-side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.text-side {
  height: 60%;
  text-align: left;
  margin: 10px 20px;
}

.text-side h5 {
  text-align: center;
}

.round-box {
  width: 6rem;
  height: 6rem;
  background-color: #fff;
  border-radius: 50%;
  margin: 20px 0;
  box-shadow: 0 0 8px #fff;
}

.design {
  background-image: url(../img/service/design.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
}

.coding {
  background-image: url(../img/service/coding.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
}

.wordpress {
  background-image: url(../img/service/wordpress.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
}

/* WORKS */

.contents-side {
  height: 70%;
}

.info-side {
  height: 30%;
  text-align: center;
  margin: 10px 20px;
}

.workBox {
  width: 100%;
  height: 24rem;
  margin: 20px 0;
  box-shadow: 0 0 8px #5B6071;
  border-radius: 25px;
  cursor: pointer;
  z-index: 20;
  transition: transform .3s;
  background-color: #fff;
}

.workBoxBack {
  width: 100%;
  height: 24rem;
  margin: 20px 0;
  box-shadow: 0 0 8px #5B6071;
  border-radius: 25px;
  background-color:#5B6071;
  cursor: pointer;
  z-index: 10;
}

.workBox:hover {
  transform: translate(-10px,-10px);
} 

/* CONTACT */

.form-group label {
  text-align: left;
  color: #fff;
}

.form-margin {
  margin-top: 1rem;
}

/* フッター */

footer {
  padding: 1rem 0;
}