@charset "utf-8";

@media screen and (max-width:575px) {
  header {
    height: 3rem;
  }
  
  .header-top {
    padding:0;
    height: 3rem;
  }
  
  .logo {
    transform: scale(.6) translate(-20%, -20%)
  }
  
  .hamberger {
    transform: scale(.5);
  }

  .resMargin1 {
    margin: 0 10px;
  } 

  .resMargin2 {
    margin: 0 30px;
  } 
}